<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path do %>
    <div class="navbar-wagon-brand">
      <%= image_tag "http://res.cloudinary.com/mobajo/image/upload/v1518192018/3d-glasses_snxqtq.png" %>
    </div>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Links -->
    <%= link_to "Add movie", movies_new_path, class: "btn btn-danger btn-lg", style: "margin-right: 40px;" %>
  </div>
</div>